

.Header-top-navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(84, 221, 214);
    /* width: 100%; */

}

.coloumn-Header-top {
    flex-basis: 32%;
    box-sizing: border-box;

}

.Header-top-navbar span {
    font-size: smaller;
}


.follow-us-on{
    position: relative;
    top: 1%;
    left: 23%;

}
.coloumn-Header-top img{
    height: 78%;
    width: 24%;
    position: relative;
    top: 14%;
}

.Header-navbar {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    align-items: stretch;

    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;


}



.coloumn-Header a {
    font-size: 15px;
    color: black;
}



.coloumn-Header a {
    text-decoration: none;
    position: relative;
    top: -23%;

}

.coloumn-Header button {
    background-color: rgb(84, 221, 214);
    border: 2px solid white;
    color: white;
    height: 30px;
    width: 90px;
    position: relative;
    top: -43%;


}
.coloumn-Header img{
    height: 115%;
    width: 64%;
    position: relative;
top: -12px;
}

#logo-coloumn-Header {
    position: relative;
    top: -7px;
}

.WE-CAN-HELP-SOMEONE h1 {
    font-size: 39px;
    position: relative;
    top: 41%;
    left: -23%;
    

}
.WE-CAN-HELP-SOMEONE p{
    position: relative;
    top: 41%;
    left: 8%;
    

}




.WE-CAN-HELP-SOMEONE {
    
    height: 441px;
    color: white;
  
    


    background-image: url(Image/p1.jpg);
    background-size: 1478px 607px;
    background-repeat: no-repeat;
}


.WE-CAN-HELP-SOMEONE button {
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    position: relative;
    top: 45%;
    left: 8%;

}

.Learn-More {
    margin-left: 20px;

}

.our-causes {
    /* width: 80%;
margin: auto; */
height: 557px;

    text-align: center;
    padding-top: 2%;
   
}
.our-causes h1{
    font-size: 200%;
}
.row-our-causes{
    display: flex;
    justify-content:space-around; 
}
.coloumn-our-causes{
    width: 0%;
    flex-basis: 23%;
    background-color:#27222238;
}

.our-causes p {
    color: #777;
    font-size: 14px;
    padding: 10px;
}
.our-causes span{
    color:rgb(84, 221, 214); 
}

.row {
    /* margin-top: 5%; */
    display: flex;
    justify-content:space-around;
    
}
.row img{
    

    height: 194px;
    width: 290px;

}


.causes-col {
    flex-basis: 31%;
    background: #785f5f54;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    transition: 0.5;
}

.causes-col img {
    box-sizing: border-box;
    height: 194px;
    width: 290px;
}

h1 {
    text-align: center;
    font-weight:bold;
    font-size: 146%;
    margin: 10px 0;
}

.causes-col:hover {
    box-shadow: 0 0 20px 0 rgba(0, green, blue, alpha);
}
.row-donate{
    text-align: center;
    display: flex;
    justify-content:space-around;
}
.coloumn-donate{
    margin: 3%;
    margin-left: -4%;
}
.coloumn-donate button{
    height: 134%;
    width: 36%;
    background-color: white;
    border-radius: 5px;

}
.coloumn-donate span{
    position: relative;
    left: 50%;
    color: black;
    font-weight:bold;

}

.how-can-you-help-us {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
    color: white;
    padding-top: 18px;
    margin-top: -17px;
    height: 350px;
    



}

.row-how-can-you-help-us {
    display: flex;
    justify-content: space-around;
}

.coloumn-how-can-you-help-us {
    flex-basis: 25%;
    margin-top: -3%;

}

.coloumn-how-can-you-help-us button {
    color: white;
    background-color: black;
    border: 2px solid white;
    height: 33px;
    width: 43%;
}

.row-how-can-you-help-us {
    padding-top: 7%;
}

.footer {
    text-align: center;
   
    border: 2px solid black;
    flex-wrap: nowrap;
    color: white;
    background-color: black;
    margin-top: 0%;
    margin-top: 1%;
    height: 245px;

}

.row-footer {
    display: flex;
    justify-content: space-between;
}

.coloumn-footer {
    flex-basis: 17%;

}

.coloumn-footer li {
    list-style: square;

}
.row2-cause-coloumn{
    position: relative;
    display: flex;
    justify-content:space-around;
    top: -40px;
}
.coloumn-cause-coloumn button{
    height: 34px;
    width: 100px;
    background-color: white;
    color:black;
    font-size: 98%;
    font-weight:bold;
    border-radius: 5px;
}
.email-phone-top{
    position: relative;
    top: 25%;
}